#
#BOF
# ---------------------------------------------------
# ignore MacOS/Windows "folder" files recursively
# ---------------------------------------------------
**/.DS_Store
**/.Desktop.ini
# ---------------------------------------------------
# local setup / configuration file
# ---------------------------------------------------
**/localSetup.cfg
**/auth.json
**/*.auto.tfvars
# ---------------------------------------------------
# Hashicorp Vagrant
# ---------------------------------------------------
**/.vagrant/*
#EOF